@model IMS_V1.FFLType

@{
    ViewBag.Title = "Delete";
}


<br />
<br />
<table style="text-align:center;">
    <tr>
        <td colspan="2" style="text-align:center;">
            <h2>Delete</h2>
        </td>
    </tr>
    <tr>
        <th style="text-align:center;">
            FFL Code
        </th>
        <th style="text-align:left;">
            FFL Description
        </th>
    </tr>
    <tr>

        <td style="text-align:center;">
            @Html.DisplayFor(model => model.FFLType_Code)
            @Html.HiddenFor(model => model.FFLType_Id)
        </td>
        <td style="text-align:left;">
            @Html.DisplayFor(model => model.FFLType_Description)
        </td>
    </tr>
    <tr>
        <td style="text-align:center;" colspan="2">
            <h3>Are you sure you want to delete this?</h3>
        </td>
    <tr>
        <td colspan="2" style="text-align:center;">
            @using (Html.BeginForm())
            {
                <p>
                    <input type="submit" value="Delete" />
                </p>
            }
        </td>
    </tr>
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>






