@{
    ViewBag.Title = "SaveUpload";
}

<h2>Upload Status</h2>

<center>
    <br /><br />
    <div>
        <p style="color: black">@ViewBag.Message </p>
    </div>

</center>
<div>
    @Html.ActionLink("Upload more file ", "Index")
    @Html.ActionLink("Create items from my import ", "ImportItems")
</div>
