@{
    ViewBag.Title = "Contacts";
}
<section class="contact">
    <h1>@ViewBag.Title</h1>
</section>
<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:MarkDimmery@UnitedSportingCo.com">Mark Dimmery </a></span>
        <span><a href="mailto:josephhua@UnitedSportingCo.com">Joseph Hua</a></span>
    </p>

</section>